@import "tailwindcss";

/* ========================
   CSS Variables Light/Dark
======================== */
:root {
  --background: #ffffff;
  --foreground: #222831;
  --accent: #00ADB5;
  --font-montserrat: 'Montserrat', sans-serif;
  --card-color: #ffffff;
  --sub-text: #6B7280;
  --border-card-color: #E5E7EB;
}

.dark {
  --background: #222831;
  --foreground: #ffffff;
  --accent: #00ADB5;
  --card-color: #393E46;
  --sub-text: #FAFAFA;
  --border-card-color: #4B5563;
}

/* Body Global */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

/* Animations */
@keyframes gradient-x { 0% { background-position: 0% 50%; } 50% { background-position: 100% 50%; } 100% { background-position: 0% 50%; } }
.animate-gradient-x { background-size: 200% 200%; animation: gradient-x 3s ease infinite; }

@keyframes fadeIn { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }
.animate-fadeIn { animation: fadeIn 0.8s ease forwards; }
